demo1/src/main/mule/demo1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="aeca92e3-9dc1-4e6d-8497-b261fcb51a59" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo1Flow" doc:id="cf04f3d5-0ad3-4a3b-87dd-7b74ca53b78a" >
		<http:listener doc:name="Listener" doc:id="2cd964fd-a425-42c2-b7ca-b5cb73339822" config-ref="HTTP_Listener_config" path="/demo1"/>
		<set-payload value='#["Hello World!!"]' doc:name="Set Payload" doc:id="50895658-4d94-406a-a904-4c6f005cde13" />
	</flow>
</mule>
